<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="https://friconix.com/cdn/friconix.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Black+Ops+One|Brawler|Bungee+Inline|Faster+One|Lobster|Teko&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <title>LCO</title>
  </head>
  <body>
    <header class="top">
      <nav>
        <ul>
          <li>
            <img
              src="../stylesheets/images/sports-logo-transparent.png"
              alt="logo"
            />
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/tournament">Tournament</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
