<%- include ("partials/header.ejs")%>
<div  class="info">
  <h1>Contact us</h1>
  <p>Mobile: +91999999999
    <p> Address: LCO Basketball Ground,</p>
    <p>55 - Fictional Homes, Fictional Road</p> 
    <p> Near Fictional Lake. </p>
    <p>India</p>
  <h1>About website</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hqvGOPB0KmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h2>About Me</h2>
  <div class="dp"></div>
  <h3>chirag khandelwal</h3>
  <em>CSE undergraduate,Anna University</em>
  <h4>Developer & Learner</h4>

  <h4>Make sure to follow me on my social media handles<h4>
      
      <a style="color:black;" href="https://github.com/Chirag-tech"><i class="fab fa-github-square"></i></a>
      <a style="color:rgb(0, 110, 201);"href="https://twitter.com/chiragkhuteta"><i class="fab fa-twitter"></i></a>
      <a style="color: rgba(24, 114, 218, 0.877);"href="https://www.linkedin.com/in/chirag-khandelwal-688b16188"> <i class="fab fa-linkedin"></i></a>
      <a style="color:red;"href="https://www.instagram.com/chirag___khandelwal/"><i class="fab fa-instagram"></i></a>
      
</div>

<%- include ("partials/footer.ejs")%>
