<%- include ("partials/header.ejs")%>
<section class="FAQ">
  <h1>Frequently asked questions</h1>
  <div class="components">
    <ul>
      <li>
        what is LCO?<a href="#" id="qna" class="in-1"
          ><i class="fi-xnluxl-plus"></i
        ></a>
      </li>
      <div>
        <p id="in-1-content" class="about">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          nobis veritatis eveniet quod sint esse, quisquam dolores ut placeat
          eum deserunt fugiat cumque. Repellendus repellat quaerat dolor illo et
          beatae.
        </p>
      </div>
      <li>
        How many teams?<a href="#" id="qna" class="in-2"
          ><i class="fi-xnluxl-plus"></i
        ></a>
      </li>
      <div>
        <p id="in-2-content" class="about">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          nobis veritatis eveniet quod sint esse, quisquam dolores ut placeat
          eum deserunt fugiat cumque. Repellendus repellat quaerat dolor illo et
          beatae.
        </p>
      </div>
      <li>
        where can i watch this tournament?<a href="#" id="qna" class="in-3"
          ><i class="fi-xnluxl-plus"></i
        ></a>
      </li>
      <div>
        <p id="in-3-content" class="about">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          nobis veritatis eveniet quod sint esse, quisquam dolores ut placeat
          eum deserunt fugiat cumque. Repellendus repellat quaerat dolor illo et
          beatae.
        </p>
      </div>
      <li>
        when is lco tournament?<a href="#" id="qna" class="in-4"
          ><i class="fi-xnluxl-plus"></i
        ></a>
      </li>
      <div>
        <p id="in-4-content" class="about">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          nobis veritatis eveniet quod sint esse, quisquam dolores ut placeat
          eum deserunt fugiat cumque. Repellendus repellat quaerat dolor illo et
          beatae.
        </p>
      </div>
    </ul>
  </div>
</section>

<%- include ("partials/footer.ejs")%>
