<%- include ("partials/header.ejs")%>
<header class="wrap">
  <span><h1>our team</h1></span>
  <section class="teams">
    <div class="container">
      <div class="card">
        <div class="frontcard">
          <div class="pic"></div>
          <div class="textarea">
            <p>name:john doe</p>
            <p>team:LCO</p>
          </div>
        </div>
        <div class="backcard"></div>
      </div>
    </div>
    <div class="container">
      <div class="card2">
        <div class="frontcard">
          <div class="pic2"></div>
          <div class="textarea">
            <p>name:Barry allen</p>
            <p>team:LCO</p>
          </div>
        </div>
        <div class="backcard"></div>
      </div>
    </div>
    <div class="container">
      <div class="card3">
        <div class="frontcard">
          <div class="pic3"></div>
          <div class="textarea">
            <p>name:Steve Richards</p>
            <p>team:LCO</p>
          </div>
        </div>
        <div class="backcard"></div>
      </div>
    </div>
  </section>
  <section class="teams2">
    <div class="container">
      <div class="card4">
        <div class="frontcard">
          <div class="pic4"></div>
          <div class="textarea">
            <p>name:Mike</p>
            <p>team:LCO</p>
          </div>
        </div>
        <div class="backcard"></div>
      </div>
    </div>
    <div id="last" class="container">
      <div class="card5">
        <div class="frontcard">
          <div class="pic5"></div>
          <div class="textarea">
            <p>name:kane johnson</p>
            <p>team:LCO</p>
          </div>
        </div>
        <div class="backcard"></div>
      </div>
    </div>
  </section>
</header>

<%- include ("partials/footer.ejs")%>
